

#bai 1
u = 0
for i in range(100+1):
  if i%3==0:
    u=u+i
print(u)
#bai 2
m = 0
for i in range(50+1):
  if i%2 == 0:
    m=m+1
print(m)
#bai 3
n = int(input("nhap 1 so: "))
if n%2==0:
  print("day ko phai la so nguyen to")
elif n%3==0:
  print("day ko phai la so nguyen to")
elif n%4==0:
  print("day ko phai la so nguyen to")
elif n%5==0:
  print("day ko phai la so nguyen to")
elif n%6==0:
  print("day ko phai la so nguyen to")
elif n%7==0:
  print("day ko phai la so nguyen to")
elif n%8==0:
  print("day ko phai la so nguyen to")
elif n%9==0:
  print("day ko phai la so nguyen to")
else: 
  print("n la mot so nguyen to")
